@page "/"
@inject MediatR.IMediator Mediator

<PageTitle>Home</PageTitle>

<ul>
    @foreach (var oi in _order!.Items)
    {
        <li>@oi.Name - @oi.Subtotal</li>
    }
</ul>


@code
{
    Order? _order;
    
    protected override async Task OnInitializedAsync()
    {
        _order = await Mediator.Send(new GetOrderQuery());
    }
}